<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VBCC</title>
    <meta name="description" content="VBCC RESEARCH 404" />
    <meta
      name="keywords"
      content="Dr. V.B. Ceramics, VBCC Research , Hitech Ceramics, Ceramic Tiles, Tiles Manufacturer, Dr. Viswa Baskaran, Dr. V.B. Ceramcis Research Centre"
    />
    <meta name="author" content="VBCC Research " />
    <meta name="og:title" content="VBCC RESEARCH" />
    <meta
      name="og:description"
      content="Empowering Progress where Research, Education and Industries Unite."
    />
    <meta
      name="og:image"
      content="https://ik.imagekit.io/webibee/VBRC/vbcclogonew.svg"
    />
    <meta name="og:url" content="https://www.drvbceramicresearch.com/" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css"
      rel="stylesheet"
      media="none"
      onload="if(media!=='all')media='all'"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css"
      rel="stylesheet"
      media="none"
      onload="if(media!=='all')media='all'"
    />
    <script
      defer
      src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"
    ></script>
    <script
      defer
      src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"
    ></script>
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="https://ik.imagekit.io/webibee/VBRC/images/caro1.webp"
      aria-label="image"
      type="image/webp"
    />
    <script
      src="../resources/assets/bootstrap/js/bootstrap.min.js"
      defer
    ></script>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="form-section" style="overflow: hidden">
      <div class="container-fluid1">
        <div class="row">
          <div class="col-md-12">
            <nav
              id="head_nav"
              class="navbar navbar-expand-lg navbar-light bg-light"
            >
              <img
                id="head_img"
                fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/vbcclogonew.svg"
                alt="logo"
                [routerLink]="['/']"
              />
              <button
                (click)="changeImage15()"
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <img
                  [src]="imagesNav[currentImageIndex15]"
                  alt="btn"
                  width="50px"
                  height="50px"
                />
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/research']"
                      >Research
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/service']">Services</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/about']">About Us </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/library']">Library</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
                  </li>
                  <li class="nav-item nav-item-contact">
                    <a
                      id="nav_contact"
                      class=""
                      style="
                        background-color: white !important;
                        color: #132249;
                        border-radius: 50px;
                      "
                      [routerLink]="['/contact']"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <br />

      <div class="container-fluid" >
        <div class="flex1">
          <h1 id="top_header">Error 404</h1>
          <p id="para">Page not found. The page you are looking for is not available</p>
        </div>
        <br />

        <div class="flex10">
          <div class="card10">
            <p style="font-weight: 500; margin-bottom: 10px">COMPANY</p>
            <img
              id="card1img"
              fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/vbcclogofooter.svg"
              loading="lazy"
              alt="footerimg"
              width="80"
              height="60"
              [routerLink]="['/']"
              style="cursor: pointer"
            />

            <br />
            <p style="font-size: 16px !important">
              3rd Link st, Nehru Nagar, Rajiv Gandhi Salai, Industrial Estate,
              Kottivakkam, Chennai - 600 041
            </p>
          </div>
          <div class="card10">
            <p style="font-weight: 500; margin-bottom: 10px">SITEMAP</p>
            <ul style="display: flex; flex-direction: column; gap: 8px">
              <li [routerLink]="['/']">Home</li>
              <li [routerLink]="['/research']">Research</li>
              <li [routerLink]="['/service']">Services</li>
              <li [routerLink]="['/about']">About Us</li>
              <li [routerLink]="['/gallery']">Gallery</li>
              <li [routerLink]="['/contact']">Contact Us</li>
            </ul>
          </div>
          <div class="card10">
            <div>
              <p style="font-weight: 500; margin-bottom: 10px">SERVICES</p>
              <ul style="display: flex; flex-direction: column; gap: 8px">
                <li [routerLink]="['/service']">All Services</li>
                <li [routerLink]="['/service/x-ray-diffraction-xrd']">
                  X-Ray Diffraction
                </li>
                <li
                  [routerLink]="['/service/scanning-electron-microscope-sem']"
                >
                  SEM (3 Images)
                </li>
                <li [routerLink]="['/service/x-ray-fluorescence-xrf']">
                  X-Ray Fluorescence
                </li>
              </ul>
            </div>
            <div style="margin-top: 20px">
              <p style="font-weight: 500; margin-bottom: 10px">SOCIALS</p>
              <div style="display: flex; flex-direction: row; gap: 20px">
                <img
                  loading="lazy"
                  fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/images/mdi_linkedin.svg"
                  alt="social1"
                  width="40"
                  height="40"
                  (click)="socials('linkedIn')"
                />
                <img
                  loading="lazy"
                  fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/images/YouTube.svg"
                  alt="social2"
                  width="45"
                  height="35"
                  (click)="socials('youtube')"
                />
                <img
                  loading="lazy"
                  fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/images/Facebook.svg"
                  alt="social3"
                  width="35"
                  height="35"
                  (click)="socials('facebook')"
                />
              </div>
            </div>
          </div>
          <div class="card10">
            <div>
              <p style="font-weight: 500; margin-bottom: 10px">SUPPORT</p>
              <ul style="display: flex; flex-direction: column; gap: 8px">
                <li [routerLink]="['/contact']">Contact Us</li>
                <li [routerLink]="['/contact']">Help centre</li>
              </ul>
            </div>
            <div style="margin-top: 20px">
              <p style="font-weight: 500; margin-bottom: 10px">OUR GROUPS</p>
              <div style="display: flex; gap: 20px">
                <img
                  loading="lazy"
                  fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/ceramicslogo.svg"
                  alt="footericon"
                  width="80"
                  height="60"
                  (click)="ourGroups('vbcc')"
                />
                <img
                  loading="lazy"
                  fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/hightechlogo.svg"
                  alt="footericon2"
                  width="80"
                  height="60"
                  (click)="ourGroups('hiTemp')"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div class="footer">
      <p id="footer_p" style="padding: 20px 30px 0px 20px">
        ©VBCC Research. All Rights Reserved.
      </p>
      <div class="cardfooter">
        <p>
          English
          <span
            ><img
              loading="lazy"
              fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/images/mdi_web.svg"
              alt="link1"
              width="10px"
              height="10px"
          /></span>
        </p>
        <div class="separator"></div>
        <p>
          INR
          <span
            ><img
              loading="lazy"
              fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/images/material-symbols_currency-rupee.svg"
              alt="link2"
              width="10px"
              height="10px"
          /></span>
        </p>
        <div class="separator"></div>
        <p>
          Asia (India)
          <span
            ><img
              loading="lazy"
              fill
ngSrc="https://ik.imagekit.io/webibee/VBRC/images/mdi_clock.svg"
              alt="link3"
              width="10px"
              height="10px"
          /></span>
        </p>
      </div>
    </div>
  </footer>
</html>

<!-- <app-home-service></app-home-service>
<app-contact></app-contact> -->
