<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VBCC</title>
  <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css"
    rel="stylesheet">
  <link href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css"
    rel="stylesheet">
  <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js">
  </script>
  <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js">
  </script>
  <script src="https://ik.imagekit.io/webibee/VBRC/carousel_slide.js">
  </script>
  <meta name="description" content="VBCC RESEARCH gallerypage">
  <meta name="keywords" content="Dr. V.B. Ceramics, VBCC Research , Hitech Ceramics, Ceramic Tiles, Tiles Manufacturer, Dr. Viswa Baskaran, Dr. V.B. Ceramcis Research Centre">
  <meta name="author" content="VBCC Research ">
  <meta name="og:title" content="VBCC RESEARCH">
  <meta name="og:description" content="Empowering Progress where Research, Education and Industries Unite.">
  <meta name="og:image" content="https://ik.imagekit.io/webibee/VBRC/vbcclogo.svg">
  <meta name="og:url" content="https://www.drvbceramicresearch.com/gallery">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
  <div style="overflow: hidden">
    <div class="container-fluid1">
      <div class="row">
      <div  class="col-md-12 ">
      <nav id="head_nav" class="navbar navbar-expand-lg navbar-light bg-light">
      <img id='head_img' src="https://ik.imagekit.io/webibee/VBRC/vbcclogo.svg" alt="" [routerLink]='["/"]'>
      <button (click)="changeImage15()"  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img [src]="imagesNav[currentImageIndex15]" alt="">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink] ='["/research"]'>Research </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] ='["/service"]'>Services</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink] ='["/about"]'>About Us </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] ='["/library"]'>Library</a>
            </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink] ='["/gallery"]'>Gallery</a>
          </li>

          <li class="nav-item nav-item-contact">
            <a id='nav_contact' class="" style='background-color:white !important; color:#132249 ;border-radius: 50px;' [routerLink]='["/contact"]'>Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  </div>
  </div>
  <div class="main-section">
    <div class="hero">
      <h1 class="gallery-text">GALLERY</h1>
      <div class="gall-para">
        <p>Our Gallery offers a glimpse into the heart of our research efforts, showcasing both our progress and also the limitless potential that lies ahead.</p>
      </div>
    </div>
    <hr />
    <div>
      <owl-carousel-o [options]="customOptions_main">
        <ng-template carouselSlide>
          <div class="slide heroImg">
            <img  src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/main1.webp" class="hero-image d-block w-100"  fetchpriority="high" alt="image">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide heroImg">
            <img class="hero-image radius" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/main2.webp" alt="image">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide heroImg">
            <img class="hero-image radius" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/main3.webp" alt="image">
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide heroImg">
            <img class="hero-image radius" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/main4.webp" alt="image">
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>

    <div class="containers">
      <div class="container-1 container_reverse">
        <!-- <div class="container-left"><img class="left-image" src="https://ik.imagekit.io/webibee/VBRC/Carousel.png"></div> -->

        <div id="carouselExampleSlidesOnly" class="container-left">
          <div class="">
            <owl-carousel-o [options]="customOptions1_left">
              <ng-template carouselSlide>
                <div class="slide">
                  <img  src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/ACCOLADES1.webp"
                  class="container_image d-block w-100"
                  alt="image">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/ACCOLADES2.webp" alt="image">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/ACCOLADES3.webp" alt="image">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/ACCOLADES.webp" alt="image">
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span  aria-hidden="true"></span>
            <span class="sr-only"></span>
          </a> -->
        </div>


        <div class="container-right">
          <div class="cont-heading">
            <h3>Gallery <span>01/04</span></h3>
            <h1>ACCOLADES</h1>
          </div>
          <div class="btn-content">
            <div class="btns-container">
              <button class="btn">Awards</button>
              <button class="btn">Celebrations</button>
              <button class="btn">Ceremony</button>
            </div>
            <div class="content">
              <p>VB Ceramic Research Centre shines bright with a collection of accolades, lauded for groundbreaking R&D
                and top-tier quality control in Glass, Ceramics, Nano Science, and Material Science. A trailblazer in
                innovation, their excellence has garnered numerous prestigious awards, cementing their position as
                industry leaders.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-1">
        <div class="container-right">
          <div class="cont-heading">
            <h3>Gallery <span>02/04</span></h3>
            <h1>CERTIFICATIONS</h1>
          </div>
          <div class="btn-content">
            <div class="btns-container">
              <button class="btn">Legibility</button>
              <button class="btn">Validation</button>
              <button class="btn">Achievements</button>
            </div>
            <div class="content">
              <p>VB Ceramic Research Centre proudly boasts a multitude of certifications, attesting to our unwavering
                commitment to excellence. With a steadfast dedication to research and development and rigorous quality
                control, the certifications affirm our status as trusted industry pioneers.</p>
            </div>
          </div>
        </div>
        <div id="carouselExampleSlidesOnly" class="container-left">
          <div class="">
            <owl-carousel-o [options]="customOptions1">
              <ng-template carouselSlide>
                <div class="slide">
                  <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/Certificate1.webp" alt="image">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/Certificate3.webp" alt="image">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/Certificate2.webp" alt="image">
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                  <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/Certificate4.webp" alt="image">
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>

      <div class="container-1 container_reverse">
        <div class="container-left">
          <owl-carousel-o [options]="customOptions1_left">
            <ng-template carouselSlide>
              <div class="slide">
                <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/Visits1.webp" alt="image">
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/Visits2.webp" alt="image">
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/Visits3.webp" alt="image">
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/Visits4.webp" alt="image">
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

        <div class="container-right">
          <div class="cont-heading">
            <h3>Gallery <span>03/04</span></h3>
            <h1>VISITATIONS</h1>
          </div>
          <div class="btn-content">
            <div class="btns-container">
              <button class="btn">Scientists</button>
              <button class="btn">Research</button>
              <button class="btn">Laboratory</button>
            </div>
            <div class="content">
              <p>VB Ceramic Research Centre, a magnet for knowledge seekers, has welcomed countless visits from esteemed
                scientists worldwide. Our expertise attracts a diverse community of researchers, fostering a dynamic
                exchange of ideas and advancements in the field.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-1">
        <div class="container-right">
          <div class="cont-heading">
            <h3>Gallery <span>04/04</span></h3>
            <h1>INAUGURATION</h1>
          </div>
          <div class="btn-content">
            <div class="btns-container">
              <button class="btn">Function</button>
              <button class="btn">R&D</button>
              <button class="btn">Innovation</button>
            </div>
            <div class="content">
              <p>In a momentous inaugural event of VB Ceramic Research Centre, Eminent scientists, industry leaders, and
                visionaries graced the occasion, celebrating a new chapter of innovation and scientific excellence. The
                gathering marked the beginning of a promising journey towards shaping the future of advanced materials
                technology.</p>
            </div>
          </div>
        </div>
        <div class="container-left">
          <owl-carousel-o [options]="customOptions1">
            <ng-template carouselSlide>
              <div class="slide">
                <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/INAUGURATION1.webp" alt="image">
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/INAUGURATION2.webp" alt="image">
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/INAUGURATION3.webp" alt="image">
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="slide">
                <img class="container_image" src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/INAUGURATION4.webp" alt="image">
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <div class="section-3">
      <div class="slider">
        <div class="slide-track">
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom1.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom2.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom3.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom4.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottomFive.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottomSix.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom1.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom2.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom3.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom4.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottomFive.webp" class="slide_img" alt="" />
          </div>
          <div>
            <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottomSix.webp" class="slide_img" alt="" />
          </div>
        </div>
    </div>
    <br>
    <div  class="sliders">
      <div class="slide-track">
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom1.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom2.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom3.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom4.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottomFive.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottomSix.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom1.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom2.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom3.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottom4.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottomFive.webp" class="slide_img" alt="" />
        </div>
        <div>
          <img src="https://ik.imagekit.io/webibee/VBRC/gallery-page-img/bottomSix.webp" class="slide_img" alt="" />
        </div>
      </div>
  </div>
  </div>
  <div class='flex10'>
    <div class='card10'>
      <p style="font-weight:500; margin-bottom: 10px;">COMPANY</p>
        <img id="card1img" src="https://ik.imagekit.io/webibee/VBRC/vbcclogofooter.svg" loading="lazy" alt="footerimg"  width="80" height="60" [routerLink]='["/"]' style="cursor: pointer;">

      <br>
      <p style='font-size:16px !important;'>3rd Link st, Nehru Nagar, Rajiv Gandhi Salai, Industrial Estate, Kottivakkam,
        Chennai - 600 041</p>
    </div>
    <div class='card10'>
      <p style="font-weight:500; margin-bottom: 10px;">SITEMAP</p>
      <ul style="display: flex; flex-direction: column; gap: 8px;">
        <li [routerLink]='["/"]'>Home</li>
        <li [routerLink] ='["/research"]'>Research</li>
        <li  [routerLink] ='["/service"]'>Services</li>
        <li [routerLink] ='["/about"]'>About Us</li>
        <li [routerLink] ='["/gallery"]'>Gallery</li>
        <li [routerLink]='["/contact"]'>Contact Us</li>
      </ul>
    </div>
    <div class='card10'>
      <div>
        <p style="font-weight:500; margin-bottom: 10px;">SERVICES</p>
        <ul style="display: flex; flex-direction: column; gap: 8px;">
          <li [routerLink] ='["/service"]'>All Services</li>
          <li [routerLink] ='["/service/x-ray-diffraction-xrd"]'>X-Ray Diffraction</li>
          <li [routerLink] ='["/service/scanning-electron-microscope-sem"]'>SEM (3 Images)</li>
          <li [routerLink] ='["/service/x-ray-fluorescence-xrf"]'>X-Ray Fluorescence</li>
        </ul>
      </div>
      <div style="margin-top: 20px;">
        <p style="font-weight:500; margin-bottom: 10px;">SOCIALS</p>
        <div style='display: flex;flex-direction:row;gap:20px'>
          <img src="https://ik.imagekit.io/webibee/VBRC/images/mdi_linkedin.svg" alt="" class="footer_img" (click)="socials('linkedIn')">
          <img src="https://ik.imagekit.io/webibee/VBRC/images/YouTube.svg" alt="" class="footer_img" (click)="socials('youtube')">
          <img src="https://ik.imagekit.io/webibee/VBRC/images/Facebook.svg" alt="" class="footer_img" (click)="socials('facebook')">
        </div>
      </div>
    </div>
    <div class='card10'>
      <div>
        <p style="font-weight:500; margin-bottom: 10px;">SUPPORT</p>
        <ul style="display: flex; flex-direction: column; gap: 8px;">
          <li [routerLink]='["/contact"]'>Contact Us</li>
          <li [routerLink]='["/contact"]'>Help centre</li>
        </ul>
      </div>
      <div style="margin-top: 20px;">
        <p style="font-weight:500; margin-bottom: 10px;">OUR GROUPS</p>
        <div style="display: flex; gap: 20px">
          <img  loading="lazy" src="https://ik.imagekit.io/webibee/VBRC/ceramicslogo.svg" alt="footericon"  width="80" height="60" (click)="ourGroups('vbcc')">
          <img  loading="lazy" src="https://ik.imagekit.io/webibee/VBRC/hightechlogo.svg" alt="footericon2"  width="80" height="60" (click)="ourGroups('hiTemp')">
        </div>
      </div>
    </div>
  </div>
  </div>

</body>
<footer>
  <div class='footer'>
    <p style='padding: 20px 20px 0px 20px;'>©VBCC Research. All Rights Reserved.</p>
    <div class='cardfooter'>
      <p>English <span><img src="https://ik.imagekit.io/webibee/VBRC/images/mdi_web.svg" alt=""></span></p>
      <div class="separator"></div>
      <p>INR <span><img src="https://ik.imagekit.io/webibee/VBRC/images/material-symbols_currency-rupee.svg" alt=""></span></p>
      <div class="separator"></div>
      <p>Asia (India) <span><img src="https://ik.imagekit.io/webibee/VBRC/images/mdi_clock.svg" alt=""></span></p>
    </div>
  </div>
</footer>
